@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@import url("base.css");

main {
  height: 65vh;
  width: 58rem;
  background: #fff url("./images/bg-pattern-desktop.svg") no-repeat -35rem 70%;
  box-shadow: 0 1rem 1.2rem var(--dark-grayish-blue);
  -webkit-box-shadow: 0 1rem 1.2rem var(--dark-grayish-blue);
  border-radius: 1.5rem;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, 1fr);
}

.background {
  display: grid;
  place-items: center;
  background: url("./images/illustration-woman-online-desktop.svg") no-repeat -4.3rem
    44%;
}

picture #box {
  position: absolute;
  margin-inline-start: -20.4rem;
  margin-block-start: -4rem;
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45rem;
}

.faq > div {
  width: 30vw;
  align-items: center;
  padding: 1rem 6rem 1rem 0;
  color: var(--dark-grayish-blue);
}

.faq h1 {
  font-size: 2rem;
  margin-block-end: 1rem;
}

.faq ul {
  line-height: 1.5;
  list-style: none;
}

.faq ul li {
  border-block-end: 1px solid var(--light-grayish-blue);
}

#faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  font-size: 1rem;
  transition: all 0.4s;
}

#faq-question:hover {
  color: var(--soft-red);
  cursor: pointer;
}

#faq-question > #arrow {
  width: 0.7rem;
}

#faq-answer p {
  margin-block-end: 1rem;
}

.arrow-rotate {
  transform: translate(-180deg);
}

.hidden {
  display: none;
}

.active {
  display: block;
  font-weight: 700;
}

.attribution {
  display: flex;
  justify-content: center;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
