@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@import url("base.css");

main {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, 1fr);
  background: #fff url("./images/bg-pattern-desktop.svg") no-repeat -35rem 70%;
  box-shadow: 0 1rem 1.2rem var(--dark-grayish-blue);
  -webkit-box-shadow: 0 1rem 1.2rem var(--dark-grayish-blue);
  border-radius: 1.5rem;
  width: 58rem;
  font-size: 14px;
}

.background {
  display: grid;
  place-content: center;
  background: url("./images/illustration-woman-online-desktop.svg") no-repeat -4.3rem
    44%;
}

picture #box {
  position: absolute;
  margin-inline-start: -20.4rem;
  margin-block-start: -4rem;
}

.mobile-bg {
  display: none;
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.faq > div {
  margin-block: 3rem;
  color: var(--dark-grayish-blue);
  justify-content: flex-start;
}

.faq h1 {
  font-size: 2rem;
  margin-block: 1rem;
}

.faq ul {
  line-height: 1.5;
  list-style: none;
}

.faq ul > li {
  border-block-end: 1px solid var(--light-grayish-blue);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  font-size: 1rem;
  transition: all 0.4s;
  gap: 4rem;
}

.faq-question:hover {
  color: var(--soft-red);
  cursor: pointer;
}

.faq-answer p {
  max-width: 350px;
  margin-block-end: 1rem;
}

.hidden {
  display: none;
}

.active {
  display: flex;
  font-weight: 700;
}

.active > img {
  transform-y: rotate(-180deg);
}

/* .attribution {
  display: flex;
  justify-content: center;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
} */

@media (max-width: 1020px) {
  main {
    height: 30rem;
    width: 20rem;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    background: #fff url("./images/bg-pattern-mobile.svg") no-repeat 50% 0rem;
    position: relative;
  }

  .background {
    background: none;
  }

  .mobile-bg {
    position: absolute;
    display: grid;
    margin-block-start: -7rem;
    margin-inline-start: 2.5rem;
    width: 75%;
    z-index: 1;
  }

  #box {
    display: none;
  }

  .faq {
    margin-inline: 1.5rem;
    font-size: 0.8rem;
  }

  .faq h1 {
    text-align: center;
  }

  .faq div {
  }

  .faq-question {
    font-size: 0.8rem;
    padding: 0.7rem 0;
    gap: 0.5rem;
  }
}
