@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@import url("base.css");
@import url("colors.css");

main {
  height: 65vh;
  width: 60rem;
  background: #fff url("./images/bg-pattern-desktop.svg") no-repeat -35rem 65%;
  box-shadow: 0.5rem 0.5rem 1.5rem var(--dark-grayish-blue);
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: 25rem 1fr;
}

.background {
  display: grid;
  place-items: center;
  position: relative;
}

picture #woman {
  position: absolute;
  margin-inline-start: -17rem;
  z-index: 1;
}

picture #box {
  position: relative;
  margin-inline-start: -18.2rem;
  margin-block-end: 3.5rem;
  z-index: 2;
}

.faq {
  width: 32rem;
  padding: 5rem 4rem;
}

.faq h1 {
  font-size: 2.5rem;
}

.faq ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-block: 1.2rem;
  line-height: 1.5;
  list-style: none;
}

li {
  padding-block: 0.5rem;
  font-size: 0.9rem;
  border-block-end: 1px solid var(--light-grayish-blue);
}

#faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  transition: all 0.4s;
}

#faq-question:hover {
  color: var(--soft-red);
  cursor: pointer;
}

#arrow {
  width: 0.7rem;
}

.hidden {
  display: none;
}

.focus {
  display: block;
}

.active {
  font-weight: 700;
}

/* .attribution {
  display: flex;
  justify-content: center;
  font-size: 11px;
  text-align: center;
  margin-block-start: 5rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
 */
